In [2]:
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

import sklearn

%precision 3

'%.3f'

In [214]:
import requests
import io

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
res = requests.get(url).content

auto = pd.read_csv(io.StringIO(res.decode('utf-8')),header=None)
auto.columns = ['symbling','normalized-losses','make','fuel-type','aspiration','num-of-doors',
               'body-style','drive-wheels','engine-location','wheel-base','length','width','height',
               'curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore',
               'stroke','compression-ration','horsepower','peak-rpm','city-mpg','highway-mpg','price']
auto

,symbling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ration,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [218]:
auto['price'].unique()

array(['13495', '16500', '13950', '17450', '15250', '17710', '18920',
       '23875', '?', '16430', '16925', '20970', '21105', '24565', '30760',
       '41315', '36880', '5151', '6295', '6575', '5572', '6377', '7957',
       '6229', '6692', '7609', '8558', '8921', '12964', '6479', '6855',
       '5399', '6529', '7129', '7295', '7895', '9095', '8845', '10295',
       '12945', '10345', '6785', '11048', '32250', '35550', '36000',
       '5195', '6095', '6795', '6695', '7395', '10945', '11845', '13645',
       '15645', '8495', '10595', '10245', '10795', '11245', '18280',
       '18344', '25552', '28248', '28176', '31600', '34184', '35056',
       '40960', '45400', '16503', '5389', '6189', '6669', '7689', '9959',
       '8499', '12629', '14869', '14489', '6989', '8189', '9279', '5499',
       '7099', '6649', '6849', '7349', '7299', '7799', '7499', '7999',
       '8249', '8949', '9549', '13499', '14399', '17199', '19699',
       '18399', '11900', '13200', '12440', '13860', '15580', '16900',
       '16695', '17075', '16630', '17950', '18150', '12764', '22018',
       '32528', '34028', '37028', '9295', '9895', '11850', '12170',
       '15040', '15510', '18620', '5118', '7053', '7603', '7126', '7775',
       '9960', '9233', '11259', '7463', '10198', '8013', '11694', '5348',
       '6338', '6488', '6918', '7898', '8778', '6938', '7198', '7788',
       '7738', '8358', '9258', '8058', '8238', '9298', '9538', '8449',
       '9639', '9989', '11199', '11549', '17669', '8948', '10698', '9988',
       '10898', '11248', '16558', '15998', '15690', '15750', '7975',
       '7995', '8195', '9495', '9995', '11595', '9980', '13295', '13845',
       '12290', '12940', '13415', '15985', '16515', '18420', '18950',
       '16845', '19045', '21485', '22470', '22625'], dtype=object)

In [16]:
print(f"自動車データの形式：{auto.shape}")

自動車データの形式：(205, 26)

In [19]:
auto.head()

,symbling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ration,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [25]:
auto2 = auto[['price','horsepower','width','height']]
auto2.isin(['?']).sum()

price         4
horsepower    2
width         0
height        0
dtype: int64

In [37]:
auto3 = auto2.replace('?',np.nan).dropna()
auto3.isin(['?']).sum()
auto3.shape

(199, 4)

In [34]:
print (f"データの型確認:\n{auto3.dtypes}")

データの型確認:
price          object
horsepower     object
width         float64
height        float64
dtype: object

In [42]:
auto3 = auto3.assign(price=pd.to_numeric(auto3.price))
auto3 = auto3.assign(horsepower = pd.to_numeric(auto3.horsepower))
#assign()は既存の列は上書き、なければ新規列追加になる

In [46]:
auto3.corr()
#重回帰分析をするときに相関が高い変数を同時に重回帰の説明変数とすると、多重共有性が生じる可能性がある。
#多重共有性とは変数間の高い相関のために、回帰係数の分散が大きくなり、係数の優位性が失われてしまう現象
#今回の場合は、horsepowerとwidthga0.6程度と相関が高い

               price  horsepower     width    height
price       1.000000    0.810533  0.753871  0.134990
horsepower  0.810533    1.000000  0.615315 -0.087407
width       0.753871    0.615315  1.000000  0.309223
height      0.134990   -0.087407  0.309223  1.000000

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X = auto3.drop('price',axis=1)
y = auto3['price']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.5,random_state = 0)

model = LinearRegression()
model.fit(X_train,y_train)

print (f"{model.score(X_train,y_train)}")
print (f"{model.score(X_test,y_test)}")

print(f"{pd.Series(model.coef_,index=X.columns)}")
print(f"{model.intercept_}")

0.7333575683901379
0.7370688738125762
horsepower      81.651078
width         1829.174506
height         229.510077
dtype: float64
-128409.0463033857

In [128]:
auto5 = auto[['price','length','engine-size']]
auto5 = auto5.replace('?',np.nan).dropna()
auto5['price'] = auto5.assign(price=pd.to_numeric(auto5.price))
print (f"データの型確認:\n{auto5.dtypes}")
print (f"NAデータ有無確認：{auto5.isna().sum().sum()}")

データの型確認:
price          float64
length         float64
engine-size      int64
dtype: object
NAデータ有無確認：0

In [86]:
#多重共有性確認
auto5.corr()

                price    length  engine-size
price        1.000000  0.690628     0.872335
length       0.690628  1.000000     0.685025
engine-size  0.872335  0.685025     1.000000

In [102]:
#説明変数と目的変数を分離
x = auto5.drop('price',axis=1)
y = auto5['price']
#テストデータと教師データに分離
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.5,random_state = 0)

#教師データで重回帰分析を実施
model = LinearRegression()
model.fit(X_train,y_train)

#学習データでのスコアとテストデータでのスコアを確認
print (f"{model.score(X_train,y_train)}")
print (f"{model.score(X_test,y_test)}")

#回帰係数と切片を表示
print(f"回帰係数:\n{pd.Series(model.coef_,index=x.columns)}")
print(f"切片：{model.intercept_}")

0.7707363714074535
0.7634186755543846
回帰係数:
length         179.544547
engine-size    120.273905
dtype: float64
切片：-33590.41099160758

In [117]:
auto6 = auto[['price','num-of-doors','body-style']]
auto6 = auto6.replace('?',np.nan).dropna()
auto6['num-of-doors'] = auto6['num-of-doors'].replace('two',2).replace('four',4)
auto6['price'] = auto6.assign(price=pd.to_numeric(auto6.price))
print (f"データの型確認:\n{auto6.dtypes}")
#print (f"NAデータ有無確認：{auto6.isna().sum().sum()}")

データの型確認:
price           object
num-of-doors     int64
body-style      object
dtype: object

In [230]:
auto6 = auto[['price','num-of-doors','body-style']]
auto6 = auto6.replace('?',np.nan).dropna()
#auto6['price'].unique()
auto6['price'] = auto6.assign(price=pd.to_numeric(auto6.price))
#price=pd.to_numeric(auto6.price)
print(f"{price.dtypes}")
auto6['price'] = price
print (f"{auto6.dtypes}")
print (f"{auto6['price'].unique()}")

int64
price            int64
num-of-doors    object
body-style      object
dtype: object
[13495 16500 13950 17450 15250 17710 18920 23875 16430 16925 20970 21105
 24565 30760 41315 36880  5151  6295  6575  5572  6377  7957  6229  6692
  7609  8921 12964  6479  6855  5399  6529  7129  7295  7895  9095  8845
 10295 12945 10345  6785 11048 32250 35550 36000  5195  6095  6795  6695
  7395 10945 11845 13645 15645  8495 10595 10245 11245 18280 18344 25552
 28248 28176 31600 34184 35056 40960 45400 16503  5389  6189  6669  7689
  9959  8499 12629 14869 14489  6989  8189  9279  5499  7099  6649  6849
  7349  7299  7799  7499  7999  8249  8949  9549 13499 14399 17199 19699
 18399 11900 13200 12440 13860 15580 16900 16695 17075 16630 17950 18150
 12764 22018 32528 34028 37028  9295  9895 11850 12170 15040 15510 18620
  5118  7053  7603  7126  7775  9960  9233 11259  7463 10198  8013 11694
  5348  6338  6488  6918  7898  8778  6938  7198  7788  7738  8358  9258
  8058  8238  9298  9538  8449  9639  9989 11199 11549 17669  8948 10698
  9988 10898 11248 16558 15998 15690 15750  7975  7995  8195  9495  9995
 11595  9980 13295 13845 12290 12940 13415 15985 16515 18420 18950 16845
 19045 21485 22470 22625]

In [216]:
auto6 = auto[['price','num-of-doors','body-style']]
#auto6 = auto[['price','length','engine-size']]
auto6 = auto6.replace('?',np.nan).dropna()
#errors = raise:エラーを返す,coerce:例外データをNaN,ignore:無視して変換する
auto6['num-of-doors'] = auto6['num-of-doors'].replace('two',2).replace('four',4)
auto6['price'] = auto6.assign(price=pd.to_numeric(auto6.price,errors='ignore'))
auto6['price'] = auto6.assign(price=pd.to_numeric(auto6.price))


print (f"データの型確認:\n{auto6.dtypes}")
print (f"NAデータ有無確認：{auto6.isna().sum().sum()}")
auto6['price'].unique()

データの型確認:
price           object
num-of-doors     int64
body-style      object
dtype: object
NAデータ有無確認：0

array([13495, 16500, 13950, 17450, 15250, 17710, 18920, 23875, 16430,
       16925, 20970, 21105, 24565, 30760, 41315, 36880, 5151, 6295, 6575,
       5572, 6377, 7957, 6229, 6692, 7609, 8921, 12964, 6479, 6855, 5399,
       6529, 7129, 7295, 7895, 9095, 8845, 10295, 12945, 10345, 6785,
       11048, 32250, 35550, 36000, 5195, 6095, 6795, 6695, 7395, 10945,
       11845, 13645, 15645, 8495, 10595, 10245, 11245, 18280, 18344,
       25552, 28248, 28176, 31600, 34184, 35056, 40960, 45400, 16503,
       5389, 6189, 6669, 7689, 9959, 8499, 12629, 14869, 14489, 6989,
       8189, 9279, 5499, 7099, 6649, 6849, 7349, 7299, 7799, 7499, 7999,
       8249, 8949, 9549, 13499, 14399, 17199, 19699, 18399, 11900, 13200,
       12440, 13860, 15580, 16900, 16695, 17075, 16630, 17950, 18150,
       12764, 22018, 32528, 34028, 37028, 9295, 9895, 11850, 12170, 15040,
       15510, 18620, 5118, 7053, 7603, 7126, 7775, 9960, 9233, 11259,
       7463, 10198, 8013, 11694, 5348, 6338, 6488, 6918, 7898, 8778, 6938,
       7198, 7788, 7738, 8358, 9258, 8058, 8238, 9298, 9538, 8449, 9639,
       9989, 11199, 11549, 17669, 8948, 10698, 9988, 10898, 11248, 16558,
       15998, 15690, 15750, 7975, 7995, 8195, 9495, 9995, 11595, 9980,
       13295, 13845, 12290, 12940, 13415, 15985, 16515, 18420, 18950,
       16845, 19045, 21485, 22470, 22625], dtype=object)

In [213]:
auto6['body-style'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [229]:
auto6 = auto[['price','num-of-doors','body-style']]
auto6['price'].replace('?',np.nan)
auto6['price'].unique()
pd.to_numeric(auto6.price)

ValueError: Unable to parse string "?" at position 9

In [233]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
res = requests.get(url).content

adult = pd.read_csv(io.StringIO(res.decode('utf-8')),header=None)
adult.columns = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','occupation','relationship','race','sex','capital-gain','capital-loss','native-country','flg-50K']

In [235]:
print (f"データの形式{adult.shape}")

データの形式(32561, 15)

In [240]:
print(f"欠損の数{adult.isna().sum().sum()}")
print(f"欠損の数{adult.isnull().sum().sum()}")
#isnaとisnullは全く同じ isna()推奨
adult.head()

欠損の数0
欠損の数0

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,flg-50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [246]:
adult.groupby('flg-50K')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,flg-50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K

In [256]:


adult['fin_flg'] = adult['flg-50K'].map(lambda x:1 if x == ' >50K' else 0)
print(f"{adult.groupby('fin_flg').size()}")

fin_flg
0    24720
1     7841
dtype: int64

In [258]:
adult.groupby('flg-50K').size()

flg-50K
 <=50K    24720
 >50K      7841
dtype: int64

In [272]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

x = adult[['age','fnlwgt','education-num','capital-gain','capital-loss']]
y = adult[['fin_flg']]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.5,random_state = 0)
model = LogisticRegression()
model.fit(x_train,y_train)

print(f"{model.score(x_train,y_train):.3f}")
print(f"{model.score(x_test,y_test):.3f}")

0.764
0.759

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [274]:
model.coef_

array([[-3.673e-03, -3.797e-06, -8.649e-04,  6.167e-04, -5.285e-03]])

In [278]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

x = adult[['age','fnlwgt','education-num','capital-gain','capital-loss']]
y = adult[['fin_flg']]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.5,random_state = 0)

#標準化処理（各値から平均値を引いて、標準偏差で割ることで変数間の単位が消えて数値の大小が意味するところが合致する）
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)

model = LogisticRegression()
model.fit(x_train_std,y_train)

print(f"{model.score(x_train_std,y_train):.3f}")
print(f"{model.score(x_test_std,y_test):.3f}")

0.794
0.791

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)